$extra-color: #BDAE82
$white-color: #FFFFFF
$black-color: #000000
$background-color: #cecece

html
  color: $black-color
  background: $background-color
  transition: all 1s ease 0s
body
  font-size: 20px
  font-family: Inter
  font-weight: 400
  transition: all 1s ease 0s
a
  color: inherit
  transition: all 1s ease 0s
a:hover
  color: $extra-color