html {
  color: #000000;
  background: #cecece;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

body {
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

a {
  color: inherit;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

a:hover {
  color: #BDAE82;
}